@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.index-create-btn-div
{
    @apply w-full flex justify-end space-x-2 mb-2 pr-2 sm:pr-0
}

.top-header-breadcrumb-title
{
    @apply sm:flex p-1 sm:py-2 sm:px-2;
}

.input-jetstream
{
    @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-mid  shadow-sm;
}

.rounded-mid
{
    @apply rounded-md;
}

.store-dashboard-link
{
    @apply h-full flex bg-slate-100 dark:bg-slate-900 text-gray-700 dark:text-gray-100 hover:bg-slate-300 dark:hover:bg-slate-950 rounded-2xl shadow-sm p-2 w-full;
}

.store-dashboard-icon
{
    @apply size-6;
}

.active-tab {
    @apply from-indigo-400 to-green-400;
}

.inactive-tab {
    @apply from-indigo-800 to-green-800;
}

.nav-active-tab
{
    @apply inline-flex items-center px-1 pt-1 border-b-2 border-indigo-400 dark:border-indigo-600 text-sm font-medium leading-5 text-gray-900 dark:text-gray-100 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out;
}
.nav-inactive-tab
{
    @apply inline-flex items-center px-1 pt-1 text-sm font-medium leading-5 text-gray-900 dark:text-gray-100 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out;
}

.breadcrumb
{
    @apply capitalize;
    font-family: "Roboto Condensed", sans-serif;
}

.link
{
    /* @apply text-blue-800 dark:text-blue-200 hover:tracking-wide hover:underline hover:decoration-dotted hover:decoration-1 italic font-light; */
    @apply text-blue-600 dark:text-blue-500 hover:underline font-light;
    font-family: sans-serif;
}

.accordion-btn
{
    @apply text-blue-700 dark:text-blue-400 text-xl flex px-1 py-1 sm:px-4 sm:py-2 w-full hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-150;
    font-family: "Roboto Condensed", sans-serif;
}

.roboto
{
    font-family: "Roboto Condensed", sans-serif;
}

.input-label
{
    @apply block sm:mb-1 text-sm font-medium text-gray-600 dark:text-gray-300;
}

.input-text
{
    @apply mb-2 border border-indigo-300 text-gray-900 text-sm rounded-md block w-full p-1 sm:p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white;
}

