@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.input-jetstream
{
    @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-mid  shadow-sm;
}

.rounded-mid
{
    @apply rounded;
}

.store-dashboard-link
{
    @apply flex flex-col bg-slate-200 dark:bg-slate-900 text-gray-700 dark:text-gray-100 hover:bg-slate-300 dark:hover:bg-slate-950 rounded shadow-md p-4 w-full;
}

.store-dashboard-icon
{
    @apply size-12 mx-1 mb-2;
}

.active-tab {
    @apply from-indigo-400 to-green-400;
}

.inactive-tab {
    @apply from-indigo-800 to-green-800;
}

.nav-active-tab
{
    @apply bg-gradient-to-tr from-blue-100 to-purple-200 dark:from-blue-500 dark:to-gray-500 hover:from-blue-100 hover:to-purple-300 dark:hover:from-blue-600 dark:hover:to-gray-600;
}

.breadcrumb
{
    @apply capitalize;
    font-family: "Roboto Condensed", sans-serif;
}

.link
{
    @apply text-blue-700 dark:text-blue-500 hover:underline;
    font-family: "Roboto Condensed", sans-serif;
}

.accordion-btn
{
    @apply text-blue-700 dark:text-blue-400 text-xl flex px-4 py-2 w-full hover:bg-gray-200 dark:hover:bg-gray-700 transition-colors duration-150;
    font-family: "Roboto Condensed", sans-serif;
}

.roboto
{
    font-family: "Roboto Condensed", sans-serif;
}

.input-label
{
    @apply block mb-1 text-sm font-medium text-gray-900 dark:text-white;
}

.input-text
{
    @apply mb-4 border border-indigo-300 text-gray-900 text-sm rounded-md block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white;
}
