@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.active-tab {
    @apply from-indigo-400 to-green-400;
}

.inactive-tab {
    @apply from-indigo-800 to-green-800;
}

.nav-active-tab
{
    @apply bg-gradient-to-tr from-indigo-200 to-green-200 dark:from-indigo-400 dark:to-green-400;
}

ol.supercombo {
    position: absolute;
    background: #EEEEEE;
    top: 27px;
    width: 392px;
    left: 160px;
    padding: 0;
    border: 1px solid #666666;
    z-index: 10;
    line-height: 1;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 352px;
    white-space: normal;
}